<app-navbar></app-navbar>
<section id="camps-search">
    <div class="wrap">
        <div class="camps-search__wrapper">
            <div class="camps-search__title">
                <h1>Welcome to YelpCamp!</h1>
            </div>
            <div class="camps-search__description">
                <p>View our hand-picked campgrounds from all over the world, or add your own.</p>
            </div>
            <div class="camps-search__form">
                <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                    <div class="camps-search__form-content">
                        <span>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>

                        <div class="form-group">
                            <input type="text" class="form-control" id="searchCamp" name="searchCamp"
                             placeholder="Search for camps"
                             formControlName="searchCamp">
                        </div>
                        <button type="submit" class="btn-primary">Search</button>
                    </div>
                </form>
                <p>
                    <a [routerLink]="'/new-camp'">Or add your own campground</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="show-camps">
    <div class="wrap">
        <div class="show-camps__cards">
            <div *ngFor="let camp of campList">
                <app-campcard [camp]="camp"></app-campcard>
            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>

