<section id="navbar">
    <div class="wrap">
        <header>
            <div class="logo">
                <a [routerLink]="'/'"><img src="{{imgLogo}}" alt="logo du site"></a>
            </div>
            <div class="navbar-content">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                    </ul>
                </nav>
                <div *ngIf="userLogedOut" class="user-loged">
                    <ul>
                        <li><p>{{yelpUser.name}}</p></li>
                        <li> <a (click)="logOut()"> Logout</a></li>
                    </ul>
                </div>
                <div *ngIf="userLogedIn" class="connexion">
                    <ul>
                        <li><a [routerLink]="'/signin'">Login</a></li>
                    </ul>
                    <button class="btn-primary" (click)="goToSignUp()">Create an account</button>
                </div>
            </div>
            <div class="navbar-sd-menu">
                <img src="{{imgMenu}}" alt="icone du menu mobile et tablette" (click)="ShowDeviceMenu()">

            </div>
        </header>
        <div [ngClass]="{'navbar-sd-menu__menu':true, 'display-menu':showSousMenu}">
        <!-- <div class="navbar-sd-menu__menu display-menu"> -->
            <ul>
                <li><a [routerLink]="'/'">Home</a></li>
                <li><a [routerLink]="'/signin'">Login</a></li>
                <li><a [routerLink]="'signup'">Create a account</a></li>
            </ul>
        </div>
    </div>
</section>
