<app-navbar></app-navbar>
<section id="camp-new">
    <div class="wrap">
        <div class="camp-new__wrapper">
            <h1>Add New Campground</h1>
            <form [formGroup]="campForm" (ngSubmit)="onSubmit()">
                <div class=" form-group form-content">
                    <p>Campground Name</p>
                    <input type="text" name="name" id="name" placeholder="Campground Name"
                    formControlName="name">

                    <p>Price</p>
                    <input type="number" name="price" id="price"  placeholder="Price"
                    formControlName="price">

                    <p>Image</p>
                    <input type="text" name="image" id="image" placeholder="Link of the Image"
                    formControlName="image">

                    <p>Description</p>
                    <textarea name="description" id="description" cols="50" rows="10" placeholder="Description"
                    formControlName="description"></textarea>

                    <div class="form-btn-submit">
                        <button type="submit" class="btn-primary">Add Campground</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>
