#signin{
    height: 100vh;
}
.signin-logo{
    position: absolute;
    top: 50px;
    left: 200px;

    a:last-child{
        margin-left: 230px;
        color: var(--color-primary);
        cursor: pointer;
    }

}
.signin-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}
.signin-left{
    width: 60%;
    margin-top: 200px;
    padding: 0 150px 0 200px;

    h1{
        font-size: 2rem
    }

    .form-signin{
        width: 100%;
        p{
            margin: 16px 0;
        }
        input{
            width: 100%;
            background-color: var(--color-secondary);
            border: none;
            // border-color: var(--color-secondary);
            border-radius: 5px;
            padding: 10px;
        }
        .form-btn-submit{
            margin-top: 20px;
            width: 100%;
            button{
                width: 100%;
            }
        }
    }

    .signin-allready{
        margin-top: 20px;
        p{
            margin: 0;

        }
        a{
            color: var(--color-tertiary);
            font-weight: 700;
            text-decoration: underline;
            margin-left: 10px;
        }
    }

}
.signin-right{
    width: 40%;
    height: 100%;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .signin-right__content{
        padding: 180px;
    }
    p{
        color: var(--color-primary);
        font-size: 1.3rem;
        font-weight: 700;
    }
    .signin-right__author{
        display: flex;
    }
    .signin-right__author-info{
        p{
            margin: 0 10px;
            padding: 0;
            font-size: 18px;
        }
        p:first-child{
            font-weight: 700;
        }
        p:last-child{
            color: var(--color-quinary);
            font-size: 12px;
        }

    }
}
.form-signin{
    small{
        color: red;
    }
}

.ng-invalid:not(form){
    border: solid;
    border: 1px solid red;
}

.flash-message{
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 50px;
    position: absolute;
    top: 50%;

    img{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .flash-content{
        display: flex;
    }
    p{
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
        font-weight: 700;}

    span{
        font-size: 1.5rem;
        font-weight: 700;
        color: red;
        margin-left: 20px;
    }
}


//##############################################################################
//##############################################################################
//TABLETTE

@media (max-width: 768px) {
    .wrap{
        padding: 0 30px !important;
    }
    .signin-logo{
        top: 40px;
        left: 20px;
        right: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        a:last-child{
            margin:0 40px 0 0;
        }

     }

    .signin-wrapper{
        flex-direction: column;
        .signin-left, .signin-right{
            padding: 20px;
        }
    }

    .signin-left{
        width: 100%;
        align-items: start;
        margin-top: 80px;

    }
    .signin-right{
        width: 100%;
        justify-content: flex-start;
        height: auto;

        .signin-right__content{
            padding: 20px;
        }
    }

}
